.deleteDialog{
    color: #F7F7F7;
    background-color: #303030 !important;
    border: 1px solid #C0C0C0 !important;
    width: 33em !important;
    border-radius: 12px !important;
}
.deleteDialogContent{
    color: #F7F7F7 !important;
    background-color: #303030 !important;
    display: flex;
    justify-content: center !important; 
    gap: 2em; 
    margin-bottom: 1em;
    margin-top: 1em;
}

.deleteDialogBtn{
    background-color: #303030 !important;
    color: #F7F7F7 !important;
    border: 1px solid #FFFFFF !important;
    border-radius: 12px !important;
    text-transform: none !important;
    width: 10em;
    &:hover{
        background-color: #F7F7F7 !important;
        color: #303030 !important;
    }

}