.dropdownOption {
    background-color: #000;
    padding: 0;
    list-style: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 0.875rem;
}

.clientCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem !important;
}

.outerAutoComplete {
    background-color: #000 !important;
    width: auto !important;
    color: #fff !important;
    min-height: 19.75rem !important;
    border-radius: 1.5rem !important;

    &.MuiAutocomplete-root {
        border-radius: 8px !important;
        border-color: black !important; // Set your desired border-radius here
    }
    & .MuiInputBase-input {
        color: white !important; // Set text color
        font-size: 1.5rem !important;
        text-align: start !important;
        border-radius: 0.5rem !important;
        justify-content: flex-start !important;
        align-items: flex-start !important;
    }
}

.inputFieldStyle {
    position: relative;

    .MuiInputBase-root-MuiOutlinedInput-root {
        align-items: flex-start !important;
    }
    & .MuiInputBase-input {
        color: white !important;
        font-size: 1.5rem !important;
        text-align: start !important;
        justify-content: center !important;
    }

    & input::placeholder {
        text-align: left !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        margin: 0.5rem !important;
        color: #fff !important;
    }

    color: #fff !important;
}

.levelAccessContainer {
    margin-top: 2rem !important;
}
.userLevel {
    font-size: 1.125rem !important;
    color: #fff !important;
}

.userLevelAutoComplete {
    &.MuiAutocomplete-root {
        border-radius: 8px !important;
        border-color: white !important; // Set your desired border color
    }

    & .MuiInputBase-input {
        border: none !important;
        color: white !important; // Set text color
        font-size: 1rem !important;
        text-align: start !important;
    }

    & .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border: none !important;
    }
}
.userLevelOption {
    align-items: center !important;
    padding: 0 3rem 0 1rem !important;
    justify-content: center !important;
    border-radius: 0.438rem !important;
    height: 5vh !important;
    width: 9rem !important;
    color: #fff !important;
}
.manageULBtn {
    width: 20rem !important;
    height: 3rem !important;
    text-transform: none !important;
    border-radius: 0.875rem !important;
}
.btnInsideFontSize {
    font-size: 1.125rem !important;
    color: #fff !important;
}
.addEntitlementBtnContainer {
    margin-top: 3rem !important;
}


@media only screen and (max-width: 1280px) {

    /* Styles for screens up to 1280 pixels wide */
    .clientCards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 3vh !important;
    }

    .outerAutoComplete {
        background-color: #000 !important;
        width: auto !important;
        color: #fff !important;
        min-height: 35vh !important;

        &.MuiAutocomplete-root {
            border-radius: 8px !important;
            border-color: black !important; // Set your desired border-radius here
        }
        & .MuiInputBase-input {
            color: red !important; // Set text color
            font-size: 1.125rem !important;
            text-align: start !important;
            border-radius: 8px !important;
            justify-content: flex-start !important;
            align-items: flex-start !important;
        }
    }

    .inputFieldStyle {
        position: relative;

        .MuiInputBase-root-MuiOutlinedInput-root {
            align-items: flex-start !important;
        }

        & .MuiInputBase-input {
            color: white !important;
            font-size: 1.5rem !important;
            text-align: start !important;
            justify-content: center !important;
        }

        & input::placeholder {
            text-align: left !important;
            position: absolute !important;
            top: 0 !important;
            left: 0 !important;
            margin: 0.5rem !important;
            color: #fff !important;
        }

        color: #fff !important;
    }

    .levelAccessContainer {
        margin-top: 2rem !important;
    }
    .userLevel {
        font-size: 1.125rem !important;
        color: #fff !important;
    }

    .userLevelAutoComplete {
        &.MuiAutocomplete-root {
            border-radius: 8px !important;
            border-color: white !important; // Set your desired border color
        }

        & .MuiInputBase-input {
            border: none !important;
            color: white !important; // Set text color
            font-size: 1rem !important;
            text-align: start !important;
        }

        & .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
            border: none !important;
        }
    }
    .userLevelOption {
        align-items: center !important;
        padding: 0 3rem 0 1rem !important;
        justify-content: center !important;
        border-radius: 0.438rem !important;
        height: 2.5rem !important;
        width: 15vw !important;
        min-width: 13rem !important;
        color: #fff !important;
    }
    .manageULBtn {
        width: 20rem !important;
        height: 3rem !important;
        text-transform: none !important;
        border-radius: 0.875rem !important;
    }
    .btnInsideFontSize {
        font-size: 1.125rem !important;
        color: #fff !important;
    }
    .addEntitlementBtnContainer {
        margin-top: 3rem !important;
    }
}

@media only screen and (min-width: 1281px) and (max-width: 1366px) {
    /* Styles for screens between 1281 and 1366 pixels wide */
    .clientCards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 3rem !important;
    }

    .outerAutoComplete {
        background-color: #000 !important;
        width: auto !important;
        color: #fff !important;
        min-height: 19.75rem !important;

        &.MuiAutocomplete-root {
            border-radius: 8px !important;
            border-color: black !important; // Set your desired border-radius here
        }
        & .MuiInputBase-input {
            color: white !important; // Set text color
            font-size: 1.5rem !important;
            text-align: start !important;
            border-radius: 8px !important;
            justify-content: flex-start !important;
            align-items: flex-start !important;
        }
    }

    .inputFieldStyle {
        position: relative;

        .MuiInputBase-root-MuiOutlinedInput-root {
            align-items: flex-start !important;
        }

        & .MuiInputBase-input {
            color: white !important;
            font-size: 1.5rem !important;
            text-align: start !important;
            justify-content: center !important;
        }

        & input::placeholder {
            text-align: left !important;
            position: absolute !important;
            top: 0 !important;
            left: 0 !important;
            margin: 0.5rem !important;
            color: #fff !important;
        }

        color: #fff !important;
    }

    .levelAccessContainer {
        margin-top: 2rem !important;
    }
    .userLevel {
        font-size: 1.125rem !important;
        color: #fff !important;
    }

    .userLevelAutoComplete {
        &.MuiAutocomplete-root {
            border-radius: 8px !important;
            border-color: white !important; // Set your desired border color
        }

        & .MuiInputBase-input {
            border: none !important;
            color: white !important; // Set text color
            font-size: 1rem !important;
            text-align: start !important;
        }

        & .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
            border: none !important;
        }
    }
    .userLevelOption {
        align-items: center !important;
        padding: 0 3rem 0 1rem !important;
        justify-content: center !important;
        border-radius: 0.438rem !important;
        height: 2.5rem !important;
        width: 15vw !important;
        min-width: 13rem !important;
        color: #fff !important;
    }
    .manageULBtn {
        width: 20rem !important;
        height: 3rem !important;
        text-transform: none !important;
        border-radius: 0.875rem !important;
    }
    .btnInsideFontSize {
        font-size: 1.125rem !important;
        color: #fff !important;
    }
    .addEntitlementBtnContainer {
        margin-top: 3rem !important;
    }
}

//this is apply for screen size 2560px Macbook Pro - done
@media only screen and (min-width: 1367px) and (max-width: 1440px) {
    /* Styles for screens between 1367 and 1440 pixels wide */
    .clientCards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 3rem !important;
    }

    .outerAutoComplete {
        background-color: #000 !important;
        width: auto !important;
        color: #fff !important;
        min-height: 19.75rem !important;
        border-radius: 1.5rem !important;

        &.MuiAutocomplete-root {
            border-radius: 8px !important;
            border-color: black !important; // Set your desired border-radius here
        }
        & .MuiInputBase-input {
            color: white !important; // Set text color
            font-size: 1.5rem !important;
            text-align: start !important;
            border-radius: 0.5rem !important;
            justify-content: flex-start !important;
            align-items: flex-start !important;
        }
    }

    .inputFieldStyle {
        position: relative;

        .MuiInputBase-root-MuiOutlinedInput-root {
            align-items: flex-start !important;
        }
        & .MuiInputBase-input {
            color: white !important;
            font-size: 1.5rem !important;
            text-align: start !important;
            justify-content: center !important;
        }

        & input::placeholder {
            text-align: left !important;
            position: absolute !important;
            top: 0 !important;
            left: 0 !important;
            margin: 0.5rem !important;
            color: #fff !important;
        }

        color: #fff !important;
    }

    .levelAccessContainer {
        margin-top: 2rem !important;
    }
    .userLevel {
        font-size: 1.125rem !important;
        color: #fff !important;
    }

    .userLevelAutoComplete {
        &.MuiAutocomplete-root {
            border-radius: 8px !important;
            border-color: white !important; // Set your desired border color
        }

        & .MuiInputBase-input {
            border: none !important;
            color: white !important; // Set text color
            font-size: 1rem !important;
            text-align: start !important;
        }

        & .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
            border: none !important;
        }
    }
    .userLevelOption {
        align-items: center !important;
        padding: 0 3rem 0 1rem !important;
        justify-content: center !important;
        border-radius: 0.438rem !important;
        height: 2.5rem !important;
        width: 15vw !important;
        min-width: 13rem !important;
        color: #fff !important;
    }
    .manageULBtn {
        width: 20rem !important;
        height: 3rem !important;
        text-transform: none !important;
        border-radius: 0.875rem !important;
    }
    .btnInsideFontSize {
        font-size: 1.125rem !important;
        color: #fff !important;
    }
    .addEntitlementBtnContainer {
        margin-top: 3rem !important;
    }
}

//Desktop screen 1536 x 768
@media only screen and (min-width: 1441px) and (max-width: 1536px) {
    /* Styles for screens between 1441 and 1536 pixels wide */
    .clientCards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 3rem !important;
    }

    .outerAutoComplete {
        background-color: #000 !important;
        width: auto !important;
        color: #fff !important;
        min-height: 19.75rem !important;
        border-radius: 1.5rem !important;

        &.MuiAutocomplete-root {
            border-radius: 8px !important;
            border-color: black !important; // Set your desired border-radius here
        }
        & .MuiInputBase-input {
            color: white !important; // Set text color
            font-size: 1.5rem !important;
            text-align: start !important;
            border-radius: 0.5rem !important;
            justify-content: flex-start !important;
            align-items: flex-start !important;
        }
    }

    .inputFieldStyle {
        position: relative;

        .MuiInputBase-root-MuiOutlinedInput-root {
            align-items: flex-start !important;
        }
        & .MuiInputBase-input {
            color: white !important;
            font-size: 1.5rem !important;
            text-align: start !important;
            justify-content: center !important;
        }

        & input::placeholder {
            text-align: left !important;
            position: absolute !important;
            top: 0 !important;
            left: 0 !important;
            margin: 0.5rem !important;
            color: #fff !important;
        }

        color: #fff !important;
    }

    .levelAccessContainer {
        margin-top: 2rem !important;
    }
    .userLevel {
        font-size: 1.125rem !important;
        color: #fff !important;
    }

    .userLevelAutoComplete {
        &.MuiAutocomplete-root {
            border-radius: 8px !important;
            border-color: white !important; // Set your desired border color
        }

        & .MuiInputBase-input {
            border: none !important;
            color: white !important; // Set text color
            font-size: 1rem !important;
            text-align: start !important;
        }

        & .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
            border: none !important;
        }
    }
    .userLevelOption {
        align-items: center !important;
        padding: 0 3rem 0 1rem !important;
        justify-content: center !important;
        border-radius: 0.438rem !important;
        height: 2.5rem !important;
        width: 15vw !important;
        min-width: 13rem !important;
        color: #fff !important;
    }
    .manageULBtn {
        width: 20rem !important;
        height: 3rem !important;
        text-transform: none !important;
        border-radius: 0.875rem !important;
    }
    .btnInsideFontSize {
        font-size: 1.125rem !important;
        color: #fff !important;
    }
    .addEntitlementBtnContainer {
        margin-top: 3rem !important;
    }
}

@media only screen and (min-width: 1537px) and (max-width: 1600px) {
    /* Styles for screens between 1537 and 1600 pixels wide */
    .clientCards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 3rem !important;
    }

    .outerAutoComplete {
        background-color: #000 !important;
        width: auto !important;
        color: #fff !important;
        min-height: 19.75rem !important;
        border-radius: 1.5rem !important;

        &.MuiAutocomplete-root {
            border-radius: 8px !important;
            border-color: black !important; // Set your desired border-radius here
        }
        & .MuiInputBase-input {
            color: white !important; // Set text color
            font-size: 1.5rem !important;
            text-align: start !important;
            border-radius: 0.5rem !important;
            justify-content: flex-start !important;
            align-items: flex-start !important;
        }
    }

    .inputFieldStyle {
        position: relative;

        .MuiInputBase-root-MuiOutlinedInput-root {
            align-items: flex-start !important;
        }
        & .MuiInputBase-input {
            color: white !important;
            font-size: 1.5rem !important;
            text-align: start !important;
            justify-content: center !important;
        }

        & input::placeholder {
            text-align: left !important;
            position: absolute !important;
            top: 0 !important;
            left: 0 !important;
            margin: 0.5rem !important;
            color: #fff !important;
        }

        color: #fff !important;
    }

    .levelAccessContainer {
        margin-top: 2rem !important;
    }
    .userLevel {
        font-size: 1.125rem !important;
        color: #fff !important;
    }

    .userLevelAutoComplete {
        &.MuiAutocomplete-root {
            border-radius: 8px !important;
            border-color: white !important; // Set your desired border color
        }

        & .MuiInputBase-input {
            border: none !important;
            color: white !important; // Set text color
            font-size: 1rem !important;
            text-align: start !important;
        }

        & .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
            border: none !important;
        }
    }
    .userLevelOption {
        align-items: center !important;
        padding: 0 3rem 0 1rem !important;
        justify-content: center !important;
        border-radius: 0.438rem !important;
        height: 2.5rem !important;
        width: 15vw !important;
        min-width: 13rem !important;
        color: #fff !important;
    }
    .manageULBtn {
        width: 20rem !important;
        height: 3rem !important;
        text-transform: none !important;
        border-radius: 0.875rem !important;
    }
    .btnInsideFontSize {
        font-size: 1.125rem !important;
        color: #fff !important;
    }
    .addEntitlementBtnContainer {
        margin-top: 12vh !important;
    }
}

@media only screen and (min-width: 1601px) and (max-width: 1920px) {

    .clientCards {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 3rem !important;
    }

    .outerAutoComplete {
        background-color: #000 !important;
        width: auto !important;
        color: #fff !important;
        min-height: 19.75rem !important;
        border-radius: 1.5rem !important;

        &.MuiAutocomplete-root {
            border-radius: 8px !important;
            border-color: black !important; // Set your desired border-radius here
        }
        & .MuiInputBase-input {
            color: white !important; // Set text color
            font-size: 1.5rem !important;
            text-align: start !important;
            border-radius: 0.5rem !important;
            justify-content: flex-start !important;
            align-items: flex-start !important;
        }
    }

    .inputFieldStyle {
        position: relative;

        .MuiInputBase-root-MuiOutlinedInput-root {
            align-items: flex-start !important;
        }
        & .MuiInputBase-input {
            color: white !important;
            font-size: 1.5rem !important;
            text-align: start !important;
            justify-content: center !important;
        }

        & input::placeholder {
            text-align: left !important;
            position: absolute !important;
            top: 0 !important;
            left: 0 !important;
            margin: 0.5rem !important;
            color: #fff !important;
        }

        color: #fff !important;
    }

    .levelAccessContainer {
        margin-top: 4rem !important;
    }
    .userLevel {
        font-size: 1.125rem !important;
        color: #fff !important;
    }

    .userLevelAutoComplete {
        &.MuiAutocomplete-root {
            border-radius: 8px !important;
            border-color: white !important; // Set your desired border color
        }

        & .MuiInputBase-input {
            border: none !important;
            color: white !important; // Set text color
            font-size: 1rem !important;
            text-align: start !important;
        }

        & .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
            border: none !important;
        }
    }
    .userLevelOption {
        align-items: center !important;
        padding: 0 3rem 0 1rem !important;
        justify-content: center !important;
        border-radius: 0.438rem !important;
        height: 2.5rem !important;
        width: 18rem !important;
        min-width: 13rem !important;
        color: #fff !important;
    }
    .manageULBtn {
        width: 20rem !important;
        height: 3rem !important;
        text-transform: none !important;
        border-radius: 0.875rem !important;
    }
    .btnInsideFontSize {
        font-size: 1.125rem !important;
        color: #fff !important;
    }
    .addEntitlementBtnContainer {
        margin-top: 5vh !important;
    }
}

@media only screen and (min-width: 1921px) {}