@import "../../styles/styles.scss";
@import "../../styles/base/settings";

#sidebarWrapper {
  display: flex;
  flex-direction: column;
}
#bottomItems {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-bottom: 1.5rem;
}
#topLeftLogo {
  min-height: 48;
  padding-right: 2.5;
  padding-left: 1.5;
}
#topLeftLogoButton:hover{
    background-color: #fff !important;
}
#btnCommon{
  text-transform: none;
}

.logoText{
  font-size: large;
  font-weight: bolder;
  margin: 0 0 0 1rem;
  padding: 0;

}

.contentGroup{
  display: flex;
  align-items: center;
}

.searchDropdown{
  margin-top: 3rem;
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
  
}

.dropdownOption{
  background-color: #000;
  padding: 0;
  list-style: none;
  color : #fff;
  border : 1px solid #fff;
  border-radius : 0.875rem;
  margin-top: 2rem;
}

.antSwitch {
  background-color: #0bf426eb !important; // Replace with your desired default background color
  border-color: red !important;
}
.antSwitchChecked {
  background-color: #887e84 !important; // Replace with your desired default background color
  border-color: red !important;
}

// Background color when switch is checked


