.clientCards {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem 0rem 4rem;
    flex-direction: column;
}

.modalTitle {
    color: #fff;
    margin-top: 1rem!important;
    font-weight: 600!important;
    font-size: 2rem !important;
    display: flex!important;
    justify-content: center
}
.closeIcon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0 0 0;
    margin: 0 0 0 1rem;
}

.modalBox {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 90rem;
    height: 50rem;
    background-color: rgb(46, 45, 44);
    border: 2px solid #000;
    box-shadow: 24;
    padding: 4;
    border-radius: 1rem;
}