.modalBox {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 90rem !important;
    height: 50rem;
    background-color: rgb(46, 45, 44);
    border: 2px solid #000;
    box-shadow: 24;
    padding: 4;
    border-radius: 1rem;
}

.cardContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10rem;
}

.clientCards {
    padding: 2rem 14rem 0rem 14rem;
}

.modalTitle {
    color: #fff;
    margin-top: 1rem!important;
    font-weight: 600!important;
    font-size: 2rem !important;
    display: flex!important;
    justify-content: center
}
.closeIcon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0 0 0;
    margin: 0 0 0 1rem;
}


.ulModelButtonWrapper{
    display: flex;
    justify-content: space-between;
    padding: 0rem;
    margin-top: 2rem;
}